.testimonials .container {
  background-image: url("https://i.ibb.co/RY4RWdt/quote.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 150px;
}
.testimonials .card {
  border-color: transparent;
}

.testimonials .card .card-footer {
  background: transparent;
  border: 0;
}
